<style type="text/css">

body 
{
	background-image: url("50gray.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size:contain;
}

#basics
{
	text-shadow: 0 0 0.5em #BF1E2E, 0 0 0.5em #BF1E2E, 0 0 0.5em #BF1E2E, 0 0 0.5em #BF1E2E, 0 0 0.5em #BF1E2E, 0 0 0.5em #BF1E2E, 0 0 0.5em #BF1E2E;
	font-family: Arial Rounded MT;
	font-size: 20px;
	color: #FEBD61;
}
</style>